---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-prefer-member-initializer,
  hicpp-*,
  misc,
  modernize-*,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  readability-*,
  -readability-redundant-access-specifiers,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length
WarningsAsErrors: >
  cppcoreguidelines-explicit-virtual-functions,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-special-member-functions,
  hicpp-member-init,
  -deprecated-headers,
  modernize-loop-convert,
  modernize-use-auto,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  performance-for-range-copy,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-container-size-empty,
  readability-isolate-declaration,
  readability-make-member-function-const,
  readability-redundant-member-init,
  readability-static-definition-in-anonymous-namespace,
FormatStyle: file
CheckOptions:
  - key: hicpp-special-member-functions.AllowSoleDefaultDtor
    value: 1
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: 1
