*~
/AUTHORS.txt
/COPYING.txt
/NEWS.txt
/README.txt
/ui/applets/gnome3/src/workrave-gnome-applet-generated.c
/ui/applets/gnome3/src/workrave-gnome-applet-generated.h
/ui/applets/xfce/src/workrave-xfce-applet.desktop
/ui/applets/xfce/src/xfce4-workrave-plugin
/_dist
/_deploy*
/_build*
/_vsbuild
/_ext
/_output
/.vscode
/vcpkg_installed
/*code-workspace
.DS_Store
