Makefile
Makefile.in
.deps
.libs
*.la
*.lo
*.o
*.a
*.ncb
*.suo
*~
/*.diff
/*.diffs
/*.log
/*.patch
/*.spec
/*.tar.gz
/.new.ltmain.sh
/TAGS
/TAGS.stamp
/aclocal.m4
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/cscope.files
/cscope.out
/etags.files
/install-sh
/install-stamp
/intl
/intl-*
/libtool
/ltconfig
/ltmain.sh
/macros
/make-gnucash-patch
/missing
/mkinstalldirs
/po-Makefile.in.in
/po-mode.el
/root-ABOUT-NLS
/stamp-gc-h
/stamp-h
/stamp-h.in
/stamp.h
/tags
/version.h
/autom4te.cache
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/intltool-extract
/intltool-merge
/intltool-update
/compile
/depcomp
/stamp-h1
/subdirs
/AUTHORS.txt
/COPYING.txt
/NEWS.txt
/README.txt
/m4
