Makefile
Makefile.in
.deps
.libs
.dirstamp
*.la
*.lo
*.o
*.a
*.ncb
*.suo
*~
/*.diff
/*.diffs
/*.log
/*.patch
/*.spec
/*.tar.gz
/.new.ltmain.sh
/TAGS
/TAGS.stamp
/aclocal.m4
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/configure.scan
/cscope.files
/cscope.out
/etags.files
/install-sh
/install-stamp
/intl
/intl-*
/libtool
/ltconfig
/ltmain.sh
/macros
/make-gnucash-patch
/missing
/mkinstalldirs
/po-Makefile.in.in
/po-mode.el
/po/Makevars.template
/root-ABOUT-NLS
/stamp-gc-h
/stamp-h
/stamp-h.in
/stamp.h
/tags
/version.h
/autom4te.cache
/compile
/depcomp
/stamp-h1
/subdirs
/AUTHORS.txt
/COPYING.txt
/NEWS.txt
/README.txt
/m4/*.m4
/ar-lib
/ui/applets/gnome3/src/workrave-gnome-applet-generated.c
/ui/applets/gnome3/src/workrave-gnome-applet-generated.h
/ui/applets/xfce/src/workrave-xfce-applet.desktop
/ui/applets/xfce/src/xfce4-workrave-plugin
/_dist
/_deploy
/_build
/_vsbuild
/.vscode
/*code-workspace
