<?xml version="1.0"?>
<workrave><><>< force_after_preludes="1" ignorable_break="1" insist_break="1" max_preludes="0"/>< force_after_preludes="1" ignorable_break="0" insist_break="0" max_preludes="3"/>< force_after_preludes="1" ignorable_break="1" insist_break="1" max_preludes="3"/></>< always_on_top="1"/></>< activity="2000" idle="5000" noise="1000"/><>< auto_reset="0" count_activity="1" limit="14400" reset_pred="day/4:00" restore="1" snooze="150"/>< auto_reset="30" count_activity="1" limit="150" restore="1" snooze="150"/>< auto_reset="600" count_activity="1" limit="1200" restore="1" snooze="150"/></></workrave>
