<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
    xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle">
    <channel>
        <title>Workrave</title>
        <description>Workrave</description>
        <language>en</language>
        <link>https://workrave.org/</link>
{% for entry in builds %}
{%- set valid = false -%}
{%- for enclosure in entry.artifacts -%}
{%- if enclosure.platform == 'windows' and enclosure.kind == 'installer' and enclosure.configuration == 'release' -%}
{%- set valid = true -%}
{%- endif -%}
{%- endfor -%}
{%- if valid %}
        <item>
            <title>Workrave {{ entry | version }}</title>
            <description><![CDATA[
{%- if entry.notes -%}
{{ entry.notes }}
{%- endif -%}
{%- if entry | channel  == 'dev' %}
{% for commit in entry.commits %}
commit {{ commit.oid }}
Author: {{ commit.commit.author.name }}
Date: {{ commit.commit.author.timestamp | data_format_from_unix }}

{{ commit.commit.message }}

{%- endfor %}
{%- endif -%}
]]></description>
            <link>https://workrave.org</link>
            <sparkle:version>{{ entry | version }}</sparkle:version>
            <sparkle:channel>{{ entry.channel }}</sparkle:channel>
            <pubDate>{{ entry.date | data_format('ddd, DD MMM YYYY hh:mm:ss ZZ') }}</pubDate>
{%- for enclosure in entry.artifacts %}
{%- if enclosure.platform == 'windows' and enclosure.kind == 'installer' and enclosure.configuration == 'release' %}
{%- if entry.channel == 'dev' or environment != '' %}
            <enclosure os="{{ enclosure.platform }}" url="https://snapshots.workrave.org/{{ enclosure.url }}" sparkle:installerArguments="/SILENT /SP- /NOICONS" sparkle:edSignature="{{ enclosure.ed25519 }}" length="{{ enclosure.size }}" type="application/octet-stream" />
{%- elif not 'v1_11' in enclosure.filename -%}
            <enclosure os="{{ enclosure.platform }}" url="https://github.com/rcaelers/workrave/releases/download/{{ entry.tag }}/{{ enclosure.filename }}" sparkle:installerArguments="/SILENT /SP- /NOICONS" sparkle:edSignature="{{ enclosure.ed25519 }}" length="{{ enclosure.size }}" type="application/octet-stream" />
{%- endif -%}
{%- endif -%}
{%- endfor %}
        </item>
{% endif %}
{% endfor %}
    </channel>
</rss>
