{% for entry in releases.releases -%}
---
author: Rob Caelers
date: {{ entry['date'] | data_format('ddd, DD MMM YYYY hh:mm:ss ZZ') }}
slug: workrave-{{ entry.version | replace('.', '-') }}-released
title: Workrave {{ entry.version }} Released
categories:
  - release
---
{%- if entry.short %}
{{ entry.short }}
{% else %}
Workrave {{ entry.version }} has been released.
{% endif %}
<!--more-->
{% if entry.more %}
{{ entry.more }}
{% elif previous_version %}
Changes since Workrave {{ previous_version }}:
{% elif entry.previous_version %}
Changes since Workrave {{ entry.previous_version }}:
{% elif releases.releases[loop.index].version %}
Changes since Workrave {{ releases.releases[loop.index].version }}:
{% endif %}
{% for change in entry['changes'] -%}
- {{ change | replace('\n', '\n  ') | github }}
{% endfor %}
{% endfor %}
