Workrave NEWS -- history of user-visible changes. {{ releases.releases[0].date | data_format('DD MMMM YYYY') }}
Copyright (C) 2001-2023 Rob Caelers, Raymond Penners, Ray Satiro
See the end for copying conditions.

Please report Workrave bug reports. Visit our bug tracker located at:
https://github.com/rcaelers/workrave/issues

{% for entry in releases.releases -%}
* Workrave {{ entry['version'] }}

{% for change in entry['changes'] -%}
** {{ change | text | replace('\n', '\n   ') }}
{% endfor %}
{% endfor %}

----------------------------------------------------------------------
Copyright information:

Copyright (C) 2001-2023 Rob Caelers & Raymond Penners

   Permission is granted to anyone to make or distribute verbatim copies
   of this document as received, in any medium, provided that the
   copyright notice and this permission notice are preserved,
   thus giving the recipient permission to redistribute in turn.

   Permission is granted to distribute modified versions
   of this document, or of portions of it,
   under the above conditions, provided also that they
   carry prominent notices stating who last changed them.

