<?xml version="1.0"?>
<workrave><distribution port="27273" reconnect_attempts="5" reconnect_interval="15"/><gui operation-mode="2"><applet cycle_time="10"><daily_limit position="1"/><micro_pause position="0"/><rest_break position="0"/></applet><breaks block_mode="0"><daily_limit enabled="1" exercises="0" ignorable_break="1" max_postpone="-1" max_preludes="3"/><micro_pause enabled="1" exercises="0" ignorable_break="1" max_postpone="-1" max_preludes="3"/><rest_break enabled="1" exercises="3" ignorable_break="1" max_postpone="-1" max_preludes="3"/></breaks><main_window cycle_time="10" enabled="1" head="0" x="5" y="49"/></gui><timers><daily_limit activity_sensitive="1" auto_reset="0" limit="14400" reset_pred="day/4:00" snooze="1200"/><micro_pause activity_sensitive="1" auto_reset="30" limit="39" reset_pred="" snooze="150"/><rest_break activity_sensitive="1" auto_reset="600" limit="2700" reset_pred="" snooze="180"/></timers></workrave>
