harpoon/src/Win32/Debug
harpoon/src/Win32/Release
harpoon/src/x64/Debug
harpoon/src/x64/Release
harpoonHelper/src/Win32/Debug
harpoonHelper/src/Win32/Release
harpoonHelper/src/x64/Debug
harpoonHelper/src/x64/Release
Output
*.sdf
*.opensdf
*.suo
*.user
*.db
*.opendb

