Source: workrave
Section: x11
Priority: optional
Maintainer: Rob Caelers <robc@krandor.org>
Build-Depends: debhelper (>> 4.1.29), libgnet-dev (>> 1.1.7), libgnomeuimm1.3-dev, libpanel-applet2-dev (>> 2.0.11)
Standards-Version: 3.5.23

Package: workrave
Architecture: any
Depends: ${shlibs:Depends}
Description: RSI prevention tool
 Workrave is a program that assists in the recovery and prevention of
 Repetitive Strain Injury (RSI). The program frequently alerts you to
 take micro-pauses, rest breaks and restricts you to your daily limit.
