/Makefile
/Makefile.in
/.deps
/.libs
/Workrave-Applet-common.c
/Workrave-Applet-skels.c
/Workrave-Applet-stubs.c
/Workrave-Applet.h
/Workrave-Applet.server
/Workrave-Applet.server.in
/Workrave-Control-common.c
/Workrave-Control-skels.c
/Workrave-Control-stubs.c
/Workrave-Control.h
/Workrave-Control.server
/Workrave-Control.server.in
/GNOME_WorkraveApplet.xml
/workrave-applet
/DBusGUI.xml
/DBusGnomeApplet.xml
/applet-client-bindings.h
/applet-server-bindings.h
/gui-client-bindings.h
/*.o
/*~
