<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
    xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle">
    <channel>
        <title>Workrave</title>
        <description>Workrave</description>
        <language>en</language>
        <link>https://workrave.org/</link>
{% for entry in releases.releases %}
        <item>
            <title>Workrave {{ entry.version }}</title>
            <description><![CDATA[
{%- if entry.short %}
{{ entry.short }}
{% else %}
Workrave {{ entry.version }} has been released.
{% endif%}
{% if entry.more -%}
{{ entry.more }}
{%- elif entry.previous_version -%}
Changes since Workrave {{ entry.previous_version }}
{%- elif releases.releases[loop.index].version -%}
Changes since Workrave {{ releases.releases[loop.index].version }}:
{% endif %}
{% for change in entry['changes'] -%}
- {{ change | replace('\n', '\n  ') }}
{% endfor %} ]]></description>
            <link>https://workrave.org</link>
            <sparkle:version>{{ entry.version }}</sparkle:version>
{%- if entry.version | channel %}
            <sparkle:channel>{{ entry.version | channel }}</sparkle:channel>
{%- endif %}
            <pubDate>{{ entry['date'] | data_format('ddd, DD MMM YYYY hh:mm:ss ZZ') }}</pubDate>
            <enclosure os="windows-x64" url="http://localhost:1337/workrave-{{ entry.version }}.exe" sparkle:edSignature="aagGLGqLIRVHOBPn+dwXmkJTp6fg2BOGX7v29ZsKPBE/6wTqFpwMqQpuXBrK0hrzZdx5TjMUvfEEHUvUmQW5BA==" length="8192" type="application/octet-stream" />
        </item>
{% endfor %}
    </channel>
</rss>
