{% for entry in releases.releases -%}
{%- if entry.short %}
{{ entry.short }}
{% else %}
Workrave {{ entry.version }} has been released.
{% endif%}
{% if entry.more -%}
{{ entry.more }}
{%- elif entry.previous_version -%}
Changes since Workrave {{ entry.previous_version }}
{%- elif releases.releases[loop.index].version -%}
Changes since Workrave {{ releases.releases[loop.index].version }}:
{% endif %}
{% for change in entry['changes'] -%}
- {{ change | replace('\n', '\n  ') }}
{% endfor %}
{% endfor %} 
