/workrave
/workrave.exe
/org.workrave.Workrave.desktop
/org.workrave.Workrave.service
/DBusGnomeApplet.cc
/DBusGnomeApplet.hh
/DBusGUI.cc
/DBusGUI.hh
/resource.rc
/workrave.sym
/org.workrave.gui.gschema.xml.in
/org.workrave.gui.gschema.xml
/org.workrave.gui.gschema.valid
