/org.workrave.WorkraveApplet.panel-applet.in
/org.workrave.WorkraveApplet.panel-applet
/org.gnome.panel.applet.WorkraveAppletFactory.service
/workrave-applet
/workrave-gnome-applet-generated.c
/workrave-gnome-applet-generated.h